* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* nav bar  */
.nav-bar {
    display: flex;
}


/* nav bar icon  */
.nav-bar-icon {
    width: 10%;
    margin-left: 10px;
}

.nav-bar-img {
    width: 65%;
}

.nav-bar-icon img {
    height: 100%;
    width: 100%;
}

.nav-bar-icon h3 {
    font-family: 'Teko', sans-serif;
    color: whitesmoke;
    width: 65%;
    text-align: center;
    font-weight: 500;

}

/* nav bar menu started   */

.nav-bar-menu {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: end;
    padding: 10px;

}

.nav-bar-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-menu li {
    list-style: none;
}

.nav-bar-menu ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    /* color: black; */

}

.nav-bar-menu ul li a:hover {
    color: #ff1313;
    cursor: pointer;
}

.nav-bar-menu button {
    margin-left: 10px;
}

.btn-1 {
    padding: 5px 25px;
    color: #ffff;
    background-color: #ff1313;
    border: none;
    font-family: 'Teko', sans-serif;
    font-size: 25px;


}

.btn-1:hover {
    cursor: pointer;
    background: #aa0909;
}

.btn-1 :active {
    background-color: maroon;
}

/* container-1 backGround img  */


.container-1 {
    background-image: url(/img/gymbg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* container-1 Main Head   */


.head-container {
    padding: 20px;
    margin-left: 10%;
    width: 40%;
    padding-bottom: 100px;
}

.sub-head {
    color: #ff1313;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    margin: 20px 0;
}

.main-head {
    color: mintcream;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    margin: 15px 0;
}

/* .container-2 slider  */

.container-2 {

    background-color: #ccb4b4;
}

.sld-head {
    padding: 20px 0;
    background-color: #ccb4b4;
}

.sld-head h3 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    text-align: center;

}

.sld-outer {
    display: flex;
    justify-content: center;
}

.sld {
    width: 70%;
    display: flex;

}

#sld-img {
    width: 100%;
    height: 100%;
}

/* form  */

.outer-container3 {
    background-color: #b4b6cc;
    padding: 20px 0;
    border-top: 10px solid black;
    display: flex;
    justify-content: center;
}

.container3 {
    border: 10px solid #3c378a;
    border-radius: 24px;
    text-align: center;
    width: 60%;
    background-color: #b4b6cc;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input {
    font-family: cursive;
    color: black;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
    width: 80%;
    height: 50px;
    margin: 10px 0;
}


.container3 h3 {
    font-family: cursive;
    font-size: 50px;
    padding: 20px 0;
}


#btn2 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #504b96;
    color: white;
    border-radius: 7px;
    padding: 15px 50px;
    border: none;
    font-family: cursive;
}

#btn2:hover {
    background-color: #3c378a;
}

.footer {
    background-color: black;
    color: rgb(240, 232, 220);
    text-align: center;
    font-size: 40px;
    padding: 20px 0;

}

input[type='text'] {
    border: cornsilk 2px solid;
}

input[type='email'] {
    border: 2px solid cornsilk;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 23px;
    font-family: 'Teko', sans-serif;
    border: none;
    /* outline: none; */
    background-color: #ff1313;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #aa0909;
  }